<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Bad Ending 1</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    </head>
    <body class="ending">
        <h1>Greed</h1>
        <p>Greed itself is a disaster as it strays you from your righteous path. 
            Your love for money has blinded you to abandon your own kin for the sake of shiny gold
        coins which turned your people against you. It's as Shakespeare says - ''Little is medicine
    but too much is poison''. Due to your own selfishness you have been thrown and executed by the hands
of your own loyal kingdom.</p>
        <a href="{{ url_for('index') }}">Home</a>
    </body>
</html>