<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Bad Ending 2</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    </head>
    <body class="ending">
        <h1>Savage</h1>
        <p>You who prioritized on killing and disregarding the safety of thy brethren in the midst of battle, to soothe thy joy
            of blood. Rampaging through the trials and killing every monster in sight. You, who you thought was seen as a mighty soldier.
        Ended up being poisoned by thy own brethren due to the fear they had in their hearts after seeing such horrific sight of the devil in you
    during battle. But not as horrific as the sight of losing their loved ones because of you. </p>
    <p>You have earned yourself the title "Heartless"</p>
        <a href="{{ url_for('index') }}">Home</a>
    </body>
</html>