<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Hidden Ending</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"/>
    </head>
    <body class="ending">
        <h1>Selfishness</h1>
        <p>Too look after oneself for their own benefits isn't such a bad thing. But by ignoring those in need when thy had the
            power to help has let you into isolation. Thou has been outcasted by thy own brethren and to be swept away by the shadows.
            To live with thyself in the loneliness of the ghosts.
        </p>
        <a href="{{ url_for('index') }}">Home</a>
    </body>
</html>